@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
    padding: 0;
    margin: 0;
}
body{
    background-color:#fffbbe;
    font-family: 'PT Sans', sans-serif; 
}
h2{
    margin: 1.5rem;
    color: #333333;
    font-size: 2rem;
}
canvas{
    width: 90%;
    height: auto;
}
#can{
    text-align: center;
}
#video{
    width: 21rem;
    height: 21rem;
}
#img{
    padding: 1rem;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #be97dc;
    border-bottom: 1rem solid #a374d5;
    height: 5rem;
    padding: env(safe-area-inset-top) 
    env(safe-area-inset-right) 
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}
section{
    padding: 1rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    display: none;
}
.active {
    display: block;
}
li{
    border-bottom: 5px solid #808080;
}
ul{
    margin: 1.5rem;
    list-style-type: none;
}
.imgList{
    margin: 1rem;
    width: 6rem;
    height: 6rem;
}


          /* buttons */

#goToList{
   margin: 1rem;
   padding: 2rem;
   color: #473B5B;
}
#goToHome{
    margin: 2rem;
    padding: 0rem; 
    /* font-size: 9rem; */
    color:#473B5B;
}
.videoDiv{
    text-align: center;
 }
 #makeVD{
    border: 2px solid #a374d5;
    background-color: #eec1ea;
    border-radius: 28px;
    width: 10rem;
    height: 4rem;
    font-size: 1em;
 }
 
.vidbtnDiv{
    text-align: center;
    padding: 2rem;
}