@import url('https://fonts.googleapis.com/css?family=PT+Sans');
* {
    padding: 0;
    margin: 0;
/*    box-sizing: border-box;*/
}
.makeImg{
border: 1rem solid black;
}
canvas{
    /* border: 4px solid gold; */
    width: 90%;
    height: auto;
}
#can{
    text-align: center;
}
#video{
    /* border: 4px solid red; */
    width: 21rem;
    height: 21rem;
}
#img{
    padding: 1rem;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #be97dc;
    border-bottom: 1rem solid #a374d5;
    height: 5rem;
    padding: env(safe-area-inset-top) 
    env(safe-area-inset-right) 
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}
section{
    padding: 1rem;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.app{
    background-color: purple;
}
.page {
    display: none;
}
.active {
    display: block;
}
li{
    border-bottom: 10px solid #808080;
}
body{
    background-color:#fffbbe;
    font-family: 'PT Sans', sans-serif;
    
}
ul{
    margin: 1.5rem;
}
.imgList{
    width: 4rem;
    height: 4rem;
}


          /* buttons */

#goToList{
   margin: 1rem;
   padding: 2rem;
}
.videoDiv{
    text-align: center;
 }
 #makeVD{
    border: 2px solid #a374d5;
    background-color: #eec1ea;
    border-radius: 28px;
    width: 10rem;
    height: 4rem;
    font-size: 1em;
 }
 
.vidbtnDiv{
    text-align: center;
    padding: 2rem;
}